.contain{
	font-size: 12px;
	line-height: 1.8;
	text-indent: 1em;
	padding: 10px;
	background: rgba(239, 226, 226, 0.2) url(../img/png/rainbow.png) top right no-repeat;
}
.contain h2{
	text-align: center;
	font-weight: bolder;
}
.contain ul{
	list-style: none;
}
.wrap{
	margin-top: 30px;
}
h4{
	margin-top: 40px;
	background: #187FAA;
	border-top: 2px solid #ea820b;
	color: white;
	font-size: 17px;
	margin-bottom: 10px;
	display: block;
	width: 300px;
}
strong{
	line-height: 45px;
}

.right{
	float: right;
	width: 245px;
}
.right p{
	text-indent: 0em;
}
.part1{
	width: 100%;
}
.part1 .picleft{
	width: 30%;
	height: auto;
	margin-left: 10px;
}
.part1 .picright{
	width: 61%;
	height: 180px;
	margin-left: 1%;
}
.part1 h3{
	margin-top: 40px;
	background: #187FAA;
	border-top: 2px solid #ea820b;
	color: white;
	font-size: 17px;
	margin-bottom: 10px;
	display: block;
	width: 100%;
}
.part1 ul{
	margin: 25px auto;
}
.part1 li.piccenter{
	width: 700px;
	overflow: hidden;
	margin: 10px auto;
}

.part1 li.piccenter a{
	width: 100%;
}
.part1 .piccenter img{
	display: block;
	max-width: 700px;
	height: auto;
}
.part2{
	margin-top: 50px;
}
.part2 li{
	width: 237px;
	float: left;
	overflow: hidden;
	cursor: pointer;
	margin-bottom: 15px;
}
.part2 li p{
	text-align: center;
	line-height: 17px;
	font-size: 12px;
}
.part2 li img{
	max-width: 225px;
}
.part3{
	padding-top: 20px;
	margin-top: 10px
	border-top:2px solid #ccc;
	position: relative;
}
.part3 .left{
	width: 46%;
	overflow: hidden;
}
.part3 .right{
	position: absolute;
	top: 20px;
	right: 0;
	width: 46%;
	margin: 0 1%;
	overflow: hidden;
}
.part3 img{
	width: 100%;
}
.part4 span{
	color: #665858;
    font-weight: normal;
}
.part4 .right{
	float: right;
	width: 300px;
	margin-right: 70px;
}
.part4 .right p{
	text-indent: 2em;
}
.part4 img.pic-1{
	width: 70%;
	margin: 20px auto 10px;
}
.part4 img.pic-2{
	width: 40%;
}