.contain{
	font-size: 12px;
	line-height: 1.8;
	text-indent: 1em;
	padding: 10px;
	background: rgba(239, 226, 226, 0.2) url(../img/png/rainbow.png) top right no-repeat;
}
.contain h2{
	text-align: center;
	font-weight: bolder;
	border-top: 1px #ccc solid;
}
.wrap{
	margin-top: -30px;
}
.part h4{
	background: #187FAA;
	border-top: 2px solid #ea820b;
	color: white;
	font-size: 17px;
	margin-bottom: 10px;
	display: block;
	width: 200px;
}
.tablebox{
	margin: 25px auto 10px;
	font-size: 15px;
	width: 100%;
	border-spacing:2;
	border-collapse:collapse;

}
.tablebox .tablehead{
	font-weight: bolder;
	font-size: 17px;
	border-bottom: 1px solid #ccc;
	background: rgb(231, 236, 222);
}
.table{
	width: 100%;
	text-align: center;
}
.picture h4{
	width: 100%;
}
.tablebox th{
	background: #D2DBE6;
	color: white;
	line-height: 22px;
}
.tablebox tr{
	display: table-row;
}