.contain{
	margin-top: 10px;
}
.content_0{
	max-width: 800px;
	margin: 0 auto;
}
ol{
	list-style: upper-alpha;
	padding-left: 25px;
}

.contain .content_0 span{
	color:red;
	font-weight: bolder;
}
.contain p{
	text-indent: 2em;
}
.part{
	margin: 70px 0;
}
.part ul{
	list-style: none;
}
.part ul li{
	display: inline-block;
	width: 189px;
	position: relative;
	padding-bottom: 40px;
	margin-bottom: 10px;
	border-radius: 5px;
}
.part .picture li{
	width: 340px;
}
.part ul li:hover{

}
.part ul li p{
	position: absolute;
	bottom: 2px;
	text-indent: 0;
}
.part_2 .piccenter{
	width: 700px;
	margin: 10px 40px 70px;
}
.part_2 img.picleft{
	width: 200px;
	margin-right: 50px;
}
.part_2 img.picright{
	width: 500px;
	height: 168px;
}
.part_3 ul li p{
	left: 40%;
}
.part_4 ul li p{
	left: 20%;
}
.part .left{
	float: left;
	width: 350px;
}
.part .left li{
	width: 340px;
}
.part .right{
	float: right;
	width: 350px;
}
.part .right li{
	width: 340px;
}
