*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
a:link ,a:visited,a:hover,a:active{
	text-decoration:none;
	color:green;
}
body{
	position: relative;
	font-size: 1.5em;
	font-family: HelveticaNeueLTStd-Bd,HelveticaNeue-Bold,'Helvetica Neue',Helvetica,Arial,sans-serif,"幼圆";
	font-family: "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "WenQuanYi Micro Hei", "Microsoft YaHei UI", "Microsoft YaHei", sans-serif;
	margin-top: 50px;
}
header{
	margin-bottom: 0;
}
header .navbar{
	margin-bottom: 0;
}
header .navbar-default{

}

header .logo{
	background: #ededed;
	height: 130px;
	color: #414142;
}
header .logo h1{
	width: 447px;
	margin: 0 auto;
	padding-top: 28px;
}
header .logo img{
	width: 70px;
	height: auto;
	margin-right: 20px;
	position: relative;
	top: -10px;

}
.daohang{
	margin-top: 50px;
	text-align: center;
}
.daohang nav ul{
	display: inline-block;
}
footer{
	margin: 0;
	width: 100%;
	text-align: center;
	background:	#ededed;
	height: 73px;
}
footer .copyright{
	padding-top: 25px;
}
.picture p{
	clear: both;
	margin: 20px;
	text-align: center;
}
.picture ul{
	list-style: none;
}
.picture ul li{
	float: left;
	margin:10px 20px;
	cursor: pointer;
	padding-bottom: 10px;
}
.picture ul li p{
	color: rgb(113, 83, 83);
	font-weight: bolder;
	margin: 5px 0 0 0;
	text-align: center;
	text-indent: 0;
}

.clear{
	clear: both;
}
@media screen and  (max-width: 650px){
	.picture ul li img{
		width: 400px;
		height: auto;
	}		
}
@media screen and (min-width: 651px) and  (max-width: 1024px){
	.picture ul li img{
		width: 250px;
		height: 180px;
	}
	.picture ul li{
	margin:10px 10px;
	}	
}

@media screen and (min-width: 1025px){
	.picture ul li img{
		width: 340px;
		height: 220px;
	}.picture ul li{
	margin:10px 20px;
	}		
}
#back-to-top{
	position: fixed;
	right: 40px;
	bottom: 40px;
}
#discuss-btn{
	position: fixed;
	right: 40px;
	bottom: 80px;
}

.gallery li{
	position: relative;
}
.gallery li i{
	background: rgba(255,255,255,.8) url(../images/find.png) no-repeat center center;
	position: absolute;
	width: 24px;
	height: 24px;
	right: 0px;
	top: 0px;
}
.gallery li i.micro{
	background: rgba(255,255,255,.8) url(../images/micro-find.png) no-repeat center center;
	position: absolute;
	width: 18px;
	height: 18px;
	right: 3px;
	top: 3px;
}
.discuss{
	min-width: 300px;
	max-width: 800px;
	margin: 30px auto;
	
}

